extends layout

block styles
  link(rel="stylesheet", href="/css/list-posts.css")

block content
  section.section.list-posts
    .container.list-posts__container
      h2.heading.heading--large.list-posts__heading List of Posts

      if isAdmin === 'true'
        form.form.list-posts__search-by-user(
          action="/list-posts",
          method="GET"
        )
          .form-element
            label.label(for="username") Enter Username:
            input.input#username(type="text", name="username", placeholder="Enter Username")

          .form-element
            button.button.button--confirm(type="submit") Search

      .list_posts__page-control
        if posts.length === 0
          p.text.text--center No posts found.
        else
          p.text.text--center Page #{page}
          if firstPage !== true
            a.button(href=`/list-posts?page=${page - 1}`) Previous Page
          if lastPage !== true
            a.button(href=`/list-posts?page=${page + 1}`) Next Page

      .list-posts__posts
        each post of posts
          .list-posts__post
            a.list-posts__post-link(href=`/post/${post.id}`) #{post.title}
            p.text.text--center.list-posts__post-details Posted by #{post.author} on #{post.postedOn}
            if post.updatedBy
              p.text.text--center.list-posts__post-update-details.
                Last updated by #{post.updatedBy} on #{post.updatedOn}
            form.form.list-posts__form-controls(
              action=`/delete-post/${post.id}`,
              method="POST"
            )
              button.button.button--danger(type="submit") Delete
            