extends layout

block styles
  link(rel="stylesheet", href="/css/login.css")

block content
  section.section.login
    .container.login__container

      .login__intro
        h2.heading.heading--large.
          Log In
        if error
          p.text.text--error #{error.message}

      form.form.login__form(action="/login", method="POST")

        .form__element
          label.label(for="username").
            Enter Your Username:
          input#username.input(
            type="text",
            name="username",
            placeholder="Enter your username"
          )

        .form__element
          label.label(for="password").
            Enter Your Password
          input#password.input.input--password(
            type="password",
            name="password",
            placeholder="Enter your password"
          )

        .form__element
          button.button.button--confirm.button--submit(type="submit").
            Log In