extends layout

block styles
  link(rel="stylesheet", href="/css/post-editor.css")

block head_scripts
  script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")

block content
  section.section.post-editor
    .container.post-editor__container
      .post-editor__intro
        h2.heading.heading--large Post Editor
        p.text.
          Use the form below to #{editing === 'true' ? 'edit' : 'create'} your post.#[br]
          You can format your post using Markdown syntax. You can learn more about Markdown here:
          #[a.link(href="https://commonmark.org/help/", target="_blank") https://commonmark.org/help/]

      .post-editor__error
        if error
          p.text.text--error #{error.message}
          if errorDetails.validationErrors
            ul.list.list--error
              each validationError in errorDetails.validationErrors
                li.list-item #{validationError}

      form.form.post-editor__form(
        method="POST",
        action=(editing === 'true' ? `/edit-post/${post.id}` : '/create-post')
      )
        .form__element
          label.label(for="title") Post Title
          input#title.input(
            type="text"
            name="title"
            value=(editing === 'true' && post.title)
            placeholder="Enter a Title"
          )

        .form__element
          label.label(for="body") Post Body
          textarea#body.input.input--textarea.post-editor__textarea(
            name="body",
            placeholder="Write out your post"
          ).
            #{editing === 'true' ? post.body : ''}

        .form__element.form__element--button-grid
          if editing === 'true'
            button.button.button--confirm(type="submit") Finish Editing
          else
            button.button.button--confirm(type="submit") Create Post

      .post-editor__preview
        h2.heading.heading--large Preview Post
        .post-editor__preview-area


block body_scripts
  script(src="/js/preview-markdown.js")