extends layout

block styles
  link(rel="stylesheet", href="/css/setup.css")

block content
  section.section.setup
    .container.setup__container

      .setup__intro
        h2.heading.heading--large.
          CMS Setup
        p.text.text--italic.
          Use the form below to create an administrator user and begin
          using your new CMS installation.

      .setup__error
        if error
          p.text.text--error #{error.message}
          if errorDetails.validationErrors
            ul.list.list--error
              each validationError in errorDetails.validationErrors
                li.list-item #{validationError}

      form.form.setup__form(action="/setup", method="POST")
        .form__element
          label.label(for="username").
            Create a Username:
          input#username.input(
            type="text",
            name="username",
            placeholder="Create a username"
          )

        .form__element
          label.label(for="password").
            Create a Password
          input#password.input.input--password(
            type="password",
            name="password",
            placeholder="Create a password"
          )

        .form__element
          button.button.button--confirm.button--submit(type="submit").
            Create Admin User